*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    background-color: #0f5349;
    font-size: 13px;
    color:#ffffff;
    text-transform: capitalize;
    padding: 10px 0px 10px 60px;
    line-height: 18px;
 }
 .top a{color:#ffffff;
    text-decoration: none;
   ;
}
.rgt{
    position:absolute;
    right: 30px;
  top: 0px;
    padding:5px;
  
}
#tour{
    position:absolute;
    padding: 6px;
    right: 190px;
    top: 14px;
    background-color: darkblue;
    font-size: 14px;
    font-weight: 500;
}
a img{
    width: 35px;
    height: 40;
    border-radius: 50px;
}
.dec{
    background-color: #9dcff0;
    text-transform: capitalize;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}
.dec img{
    padding: 10px 0px;
    height: auto;
     padding-left:70px;
     width:22rem;
}
.dec p a{
    position: absolute;
    right: 5%;
    top: 100px;
    background-color: #0f5349;
    color: #fff;
    padding: 10px 13px;
    text-decoration: none;
}
nav {
    background-color: #0f5349;
    position: sticky;
   
    top:0%; 

}
nav a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    padding: 18px;
    font-size: 16px;
}

.bar { padding-left: 70px;
    padding-top: 15px;
padding-bottom: 15px; 
}
.about{
    position: relative;
    display: inline-block;
}
.dropa{
    display: none;
    position: absolute;
    z-index: 1;
} 
.dropa a{
display: block;
background-color: #0f5349;
color: #fff;
width:250px;
line-height: 0px;
border-top: 1px solid #fff;

}
.about:hover .dropa{
    display: block;
}

 .faci { 
     position: relative;
     display: inline-block;
 }
 .drop2{
     position: absolute;
     display: none;
     z-index: 1;
  }
  .drop2 a{
    display: block;
    background-color: #0f5349;
    color: #fff;
    width:240px;
    line-height: 0px;
    border-top: 1px solid #fff;
  }
.faci:hover  .drop2{
   display: block;
 } 

.lod{
    position: relative;
    display: inline-block;
}
.drop3{
    position: absolute;
    display: none;
    z-index: 1;
}
.drop3 a{
    display: block;
    background-color: #0f5349;
    color: #fff;
    width:240px;
    line-height: 0px;
    border-top: 1px solid #fff;
  }

.lod:hover .drop3{
    display: block;
}
 
input {
    padding: 10px;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #000;
}
input[type="text"]{
    line-height: 1.7em;
    margin-bottom: 30px;
    width: 40%;
    
}

.form button{background-color: #0f5349;
    font-size: 20px;
    padding:  15px;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    width: 80%;

}
aside{
    background-color: #0f5349;
    color: #fff;
    text-transform: capitalize;
   display: block;
   padding: 45px 20px;
    
}
.set{
    display: inline-block; 
}

 aside img{height: 90px; 
    width: 65px; 
    padding-top: 30px;
    border-radius: 50%;
}
article{
    background-color: #0f5349;
}
.arti{overflow: hidden;
    background-color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
  border: rgb(255, 255, 255) solid;
  border-radius: 0px 0px 40% 40%;
    text-align: center;
    display: block;
}

.arti h5{ overflow: hidden;
    color:#0f5349;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 5px;
    font-weight: 700;
    font-family: Helvetica,Arial,Lucida,sans-serif;
}

.sch{
    background-color: #0f5349;
    color:#fff;
    width: 506px;
    height: 550.550px;
    padding: 80px 60.750px;
}
.judo{
    float: left;
    background-color:#3e4094;
    color:#fff;
    width: 506px;
    height: 550.550px;
    padding: 80px 60.750px;
}
.group{
    float: left;
    background-color: #0f5349;
    color:#fff;
    width: 506px;
    height: 550.550px;
    padding: 80px 60.750px;
  
}
.pics img{
    height: auto;
    width: 100%;
}
.fb{ margin-top: 1px;
    float: left;
    background-color: #0f5349;
    color:#fff;
    width: 506px;
    height: 550.550px;
    padding: 60px 60.750px;
  
}
.ql{
    margin-top: 1px;
    float: left;
    background-color: #0f5349;
    color:#fff;
    width: 506px;
    height: 550.550px;
    padding: 60px 60.750px;
}
.us{
    line-height: 30px;
    margin-top: 1px;
    
    background-color: #0f5349;
    color:#fff;
    width: 506px;
    height: 550.550px;
    padding: 30px 60.750px;
    
    
}
.ql ul li a{ 
    line-height: 30px;
   text-decoration: none;
    color: #fff;
    list-style: none;
    text-transform: capitalize;

}
.cy{
    background-color: #0f5349;
    text-align: center;
    color: #fff;
    padding-bottom: 12px; 
    font-size: 14px;
  
    z-index: -1;
}
/*
.change::after{
        content: '';
        animation-name:change;
        animation-duration: 10s; 
        animation-iteration-count: infinite;
    }
    @keyframes change{
        0%{content:url(https://5.imimg.com/data5/RL/YR/MY-25468795/bricks-500x500.jpg);}
        25%{background-image:(src="C:\Users\HP\Pictures\phone\gfile.jpg") ;}
        50%{content: ;}
        75%{content: "विद्यालय";}
        100%{content: "ਸਕੂਲ";}
     }*/
     
     @media (max-width:980px) {.top{
         height:120px;
         padding: 20px 30px;
         }}

    @media (max-width:980px) {
        .rgt {
            position:absolute;
            right: 25px;
          top: 70px;
            padding:0px;
    }}

    @media(max-width:980px) {
        #tour{
            position:absolute;
            padding: 6px;
            right: 160px;
            top: 80px;
           
        }}

         @media(max-width:980px) {.dec p a{
            position: absolute;
            top: 291px;
            transform: translateX(50%);
            right:50%;
            
            
        }}
        @media (max-width:980px) {.dec{
            height: 205px;
        }}

    @media (max-width:980px) {
         .dec img{
            padding-right: 60px;
           height: 150px;
           width: 480px;
            transform: translateX(50%);
           right:50%;
            position: absolute;
            }} 
            /*
        @media (max-width:1200px) {section img{
            height: auto; 
            width:100%;
            object-fit:contain;
            padding: 85px 0px;
        }}
            
            
        @media (min-width:980px) {section img{
             height: 560px;
            max-width: 980px;}
             }*/
        
           
             @media (max-width:980px) {.bar{
                display: none;
            position: sticky;}}

            @media (min-width:981px) {.menu{
                display: none;
                position: absolute;
             }}
             
        .material-icons{
             color: #fff;
             padding-left: 90%;
             margin: 4px 0px;
            
             position: relative;
             display: inline-block;
             cursor: pointer;
             }
        
             .menulist{
                position: absolute;
                display: none;
             }
             .menulist  ul li a{
               margin-top: 5px;
                color: #fff;
                border-top: 1px solid rgba(253, 253, 253, 0.589);
                padding: 10px;
                display: block;
               text-align: center;
             
                display: block;
             }
             .material-icons:hover .menulist ul li a{
                display: block;
                
             }
             
             @media (max-width:980px) {.flex{
               flex: none;
               flex-direction: column;
               flex-wrap: nowrap;
             }}
             @media (max-width:980px){.form
                {
                    padding-left: 16%;

                }
             }
             
             /*
         @media (max-width:980px){ input[type="text"]{
            width:49%;}
         }*/

         @media (max-width:980px){
             .sch {
                width:100%;
            height: auto;}
            
                .pics img{
                    width: 100%;
                }
                .group {
                 height: auto;
                 width: 100%;
                }

            .judo{
                width:100%;
                height: auto;
                }
            }
            

            @media (max-width:980px){.fb{
            width:100%;}
            .ql{
                width:100%;
            }
            .us{
                width:100%;
            }} 
           

    .flex{
           display: flex;
           background-color: #9dcff0;
           flex-wrap:nowrap ;
          }
           
        .flex .pic img{
           padding: 85px 40px;
           height: 75%;
           width: 100%;
           justify-content: center;
          
            }
          .pics{
            display: flex;
            flex-wrap:nowrap ;
          }
          .last{
            display: flex;
            flex-wrap:nowrap ;
          }
          @media (max-width:980px){.pics{
            flex: none;
            flex-direction: column;
           flex-wrap: nowrap;
           width: 100%;
          }
         

          .flex .pic img{
            padding: 95px 0px;
        
          }}
          @media (max-width:980px){.last{
            flex: none;
            flex-direction: column;
           flex-wrap: nowrap;
           width: 100%;
          } 
        }
  .myfoot{
 background-color: #0f5349;
 text-align: center;
 color: #ffffff;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 14px;
padding: 12px;
font-weight: 300;
      }
            
            /*section img{
                padding: 85px 35px;
             }
            section{
                background-color: #9dcff0;
            }
            
            .form{
                float: right;
               margin-right: 95px;
               margin-top:45px;
                z-index: 0;  
                overflow-wrap: normal;
               
            }*/
          .us .fa-brands,.fa-envelope,.fa-phone,.fa-location-dot{
            font-size: 24px;
            padding-right: 15px;
            margin-bottom: 20px;
            color: #ffffff;
        }
      section{
        height:605px;
        width: 100%;
     
      }
      @media (max-width:1200px){section{
        height:580px;
        width: 100%;}}
      @media (max-width:980px){section{
        height:auto;
        width: 100%;}}
